.a-hidden {
	opacity: 1;
}
.animated {
	animation-duration: 1s;
	animation-fill-mode: both;
}
@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translate3d(0, 50px, 0)
	}

	100% {
		opacity: 1;
		transform: none
	}
}
.fadeInUp {
	animation-name: fadeInUp
}